.accordion-item {
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}

.accordion-item.collapsed {
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

.accordion-title {
  font-weight: 600;
  cursor: pointer;
  color: #666;
  padding: 0.5em 1.5em;
  border: solid 1px #ccc;
  border-radius: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid currentColor;
  }

  &:hover,
  &.open {
    color: black;
  }

  &.open {
    &::after {
      content: '';
      border-top: 0;
      border-bottom: 5px solid;
    }
  }
}

.card.border-0 {
  .btn {
    padding: 11px 0;

    &.open {
      .ic-arrow-expan {
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }
}

.block-faq {
  #accordion {
    .card {
      &.border-0 {
        margin: 0;
      }
    }

    .card-header {
      padding-left: 5px;
    }

    .card-body {
      text-align: justify;
      padding: 0 20px;

      @media (max-width: 600px) {
        padding: 0 10px;
      }
    }
  }
}
