@import '../../assets/scss/get_scss/tools/_mixins';

@media screen and (min-width: 1024px) {
  .banner {
    &__sologan {
      top: 51.6% !important;
    }
  }
}

.banner--main .slick-dots {
  bottom: 65px !important;
}

.section--04 .slick-dots,
.schedule-slider .slick-dots,
.slider-our-counselors .slick-dots,
.block-quote__slider .slick-dots {
  bottom: 0 !important;
}

@include bp(0, '600px') {
  .banner {
    .banner__sologan {
      top: 80%;
    }

    &--main {
      margin-bottom: 305px !important;
    }
  }
}

.banner_academic {
  .slick {
    &-slider {
    }

    &-dots {
      bottom: 65px !important;
      @media (max-width: 1023px) {
        bottom: 135px !important;
      }
      @media (max-width: 600px) {
        bottom: 45px !important;
      }
    }

    &-arrow {
      width: 3.8125rem;
      height: 3.875rem;
      top: auto;
      bottom: 1rem;
      z-index: 99;
      cursor: pointer;

      @media (max-width: 1023px) {
        width: 40px !important;
        height: 40px !important;
        background-size: contain !important;
      }

      @media (max-width: 767px) {
        width: 30px !important;
        height: 30px !important;
        background-size: contain !important;
      }
    }

    &-prev {
      left: 35%;
      @media (max-width: 1023px) {
        left: 35%;
        bottom: 100px;
      }
      @media (max-width: 600px) {
        left: 5%;
        bottom: 20px;
      }
    }

    &-next {
      right: 35%;
      @media (max-width: 1023px) {
        right: 35%;
        bottom: 100px;
      }
      @media (max-width: 600px) {
        right: 5%;
        bottom: 20px;
      }
    }

    &-disabled {
      opacity: 0.3;
      cursor: auto;
      pointer-events: none;
      display: block;
    }
  }
}

@media (max-width: 767px) {
  .banner--main,
  .section--04,
  .schedule-slider,
  .slider-our-counselors,
  .block-quote__slider {
    .slick-active {
      button {
        width: 20px !important;
      }
    }
  }
}
