.section {
  &--03 {
    .card.card--03.border-0 {
      margin: 0;
    }

    .section__inner {
      .row {
        & > div:not(:last-child) {
          margin-bottom: 25px;
        }

        & > div:first-child {
          margin-top: 5px;
        }
      }
    }
  }
}
